:root {
	--color-01: #233D4D;
	--color-02: #287D6A;
	--text-01: #F5F9E9;
	--text-01-highlight: #376996;
	--text-02: #287D6A;
	--text-02-highlight: #8AEED8;
  --text-03: #48E5C2;
}

/* base */

body {
  font-family: monospace;
  background-color: var(--color-01);
}

a {
  text-decoration: none;
}

/* layout */

.l-container {
  max-width: 840px;
  margin: 0 auto;
  padding: 0 30px;
}

.l-page {
  margin: 20px auto;
}

/* module */

.divider {
  border-bottom: solid var(--color-02);
}

.heading-large {
  font-size: 52px;
  line-height: 65px;
  color: var(--text-03);
}

.heading-medium {
  font-size: 36px;
  line-height: 45px;
  color: var(--text-03);
}

.heading-small {
  font-size: 20px;
  line-height: 25px;
  color: var(--text-03);
}

.heading-tiny {
  font-size: 16px;
  line-height: 20px;
  color: var(--text-03);
}

.text {
  font-size: 14px;
  color: var(--text-01);
}

.link {
  font-size: 14px;
  color: var(--text-02);
}

.link:hover {
  color: var(--text-02-highlight);
}

.post {
  margin: 40px auto 60px auto;
}

.post-date {
  margin: 10px 5px 10px 0;
  color: var(--text-02);
}

.post-link {
  font-size: 20px;
  text-decoration: none;
  color: var(--text-01);
}

.post-link:hover {
  color: var(--text-01-highlight);
}

.post-link-date {
  margin-right: 5px;
  color: var(--text-02);
}

.contact {
  margin: 5px auto;
}

.icon>svg {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  fill: var(--color-02);
}

.swatch {
  display: inline-block;
  width: 10px;
  height: 10px;
  vertical-align: middle;
  border: 1px solid black;
}
