:root {
  --color-base: #FFFFFF;
  --color-01: #000000;
  --color-02: #DC2A2A;
  --color-03: #B82420;
}

/* base */

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

a {
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

body {
  font-family: monospace;
  background-color: var(--color-base);
}

h1 {
  font-size: 36px;
  line-height: 45px;
  color: var(--color-01);
}

h2 {
  font-size: 20px;
  line-height: 25px;
  color: var(--color-01);
}

h3 {
  font-size: 16px;
  line-height: 20px;
  color: var(--color-01);
}

p {
  font-size: 14px;
  color: var(--color-01);
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.btn {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin: 2px 0;
  border: solid 1px transparent;
  border-radius: 4px;
  padding: 0.5em 1em;
  color: var(--color-base);
  background-color: var(--color-02);
}

.btn:active {
  transform: translateY(1px);
}

.btn:hover,
.btn:focus {
  color: var(--color-02);
  border-color: var(--color-02);
  background-color: var(--color-base);
}

.selectable {
  color: var(--color-02);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important; 
  width: 1px !important; 
  overflow: hidden;
}

/* layout */

.l-container {
  max-width: 840px;
  margin: 20px auto;
  padding: 0 30px;
}

.l-inline {
  display: inline-block
}

.l-flex-horizontal {
  display: flex;
  flex-direction: row;
}

.l-flex-vertical {
  display: flex;
  flex-direction: column;
}

/* module */

.divider {
  border-bottom: dashed var(--color-02);
  border-width: 2px
}

.selectable:hover {
  color: var(--color-03);
}

.post-date {
  margin: 10px 5px 10px 0;
  color: var(--color-01);
}

.contact {
  margin: 5px auto;
}

.icon>svg {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  fill: var(--color-01);
}

.swatch {
  display: inline-block;
  width: 10px;
  height: 10px;
  vertical-align: middle;
  border: 1px solid black;
}

.form-section {
  margin-bottom: 8px;
}
