:root {
  --color-base: #FFFFFF;
  --color-01: #000000;
  --color-02: #F96B69;
  --color-03: #B82420;
  --text-01: #000000;
  --text-02: #F96B69;
  --text-02-highlight: #B82420;
}

/* base */

h1, h2, h3, h4, h5, h6, p, a {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

body {
  font-family: monospace;
  background-color: var(--color-base);
}

a, a:visited {
  text-decoration: none;
}

h2 {
  font-size: 52px;
  line-height: 65px;
  color: var(--text-01);
}

h3 {
  font-size: 36px;
  line-height: 45px;
  color: var(--text-01);
}

h4 {
  font-size: 20px;
  line-height: 25px;
  color: var(--text-01);
}

h5 {
  font-size: 16px;
  line-height: 20px;
  color: var(--text-01);
}

p {
  font-size: 14px;
  color: var(--text-01);
}

.selectable {
  color: var(--text-02);
}

/* layout */

.l-container {
  max-width: 840px;
  margin: 20px auto;
  padding: 0 30px;
}

.l-inline {
  display: inline-block
}

/* module */

.divider {
  border-bottom: dashed var(--color-02);
  border-width: 2px
}


.selectable:hover {
  color: var(--text-02-highlight);
}

.post {
  margin: 40px auto 60px auto;
}

.post-date {
  margin: 10px 5px 10px 0;
  color: var(--text-01);
}

.post-link-date {
  margin-right: 5px;
  color: var(--text-01);
}

.contact {
  margin: 5px auto;
}

.icon>svg {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  fill: var(--color-01);
}

.swatch {
  display: inline-block;
  width: 10px;
  height: 10px;
  vertical-align: middle;
  border: 1px solid black;
}
