<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs', {
      tabTitle: 'chemecse.io | 404',
      title: '404',
      description: `404`,
      imageUrl: null
    })
  %>
  <body>
    <%- include('./partials/header.ejs') %>
    <main>
      <div class="divider"></div>
      <section class="l-container">
        <h2><strong>404 - Page Not Found</strong></h2>
        <p>This page does not exist! Why don't you head on <a href="/">home</a>?</p>
      </section>
      <div class="divider"></div>
    </main>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>